<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="bg-kt-classic ie6"> <![endif]-->
<!--[if IE 7]>         <html class="bg-kt-classic ie7"> <![endif]-->
<!--[if IE 8]>         <html class="bg-kt-classic ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="bg-kt-classic">         <!--<![endif]-->
<!-- #goodbyeie8 -->


  <head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Force IE (and chromeframe) to act like the version it is an not offer a Compatibility View button -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=<%= charset %>" />
    <meta name="language" content="en-US">
	
    {{#if true }}
	<meta name="inside condition" value="testing" />
	
    {{/if}}
    {{#if keytrain_site }}
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/ico/kt/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/ico/kt/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/ico/kt/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/ico/kt/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/img/ico/kt/favicon.png">
    <link rel="shortcut icon" href="/img/ico/kt/favicon.ico">
    {{else}}
    <link rel="icon" href="/img/ico/cr101/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/ico/cr101/favicon.ico" type="image/x-icon">
    {{/if}}



    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-formhelpers.less" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-formhelpers-flags.less" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-formhelpers-selectbox.less" />
	<script src="/js/jquery.min.js"></script>  
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>  
	<script src="/js/bootstrap-formhelpers-languages.js"></script>  

    <title>{{#if keytrain_site}}ACT KeyTrain{{else}}ACT Career Ready 101{{/if}}</title>
  </head>

  <body class="bg-kt-classic {{#if self_signup}}signup{{else}}signin{{/if}} {{#if keytrain_site}}site-keytrain{{else}}site-cr101{{/if}}">
    <span id="app">{{{html}}}</span>
    <script>
      window.INITIAL_STATE = {{{state}}};
    </script>
    <!--<script src="/bundle.js"></script>-->
  </body>
</html>
