/* 2014-09-05 JNN Serving google fonts from our server now since some locations lock things down to allow traffic only from our domain. */
// @font-face {
//   font-family: 'Source Sans Pro';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(/lib/googlefonts/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
// }


/**
  AdminLTE styles
  ---------------
  Copied only what I needed from AdminLTE.css
  since we're not using that sheet for anything
  except the login page
**/

html,
body {
  overflow-x: hidden!important;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background: #f9f9f9;
}

.btn {
  font-weight: 500;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid transparent;
  -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
}
.btn.btn-primary {
  background-color: #3c8dbc;
  border-color: #367fa9;
}
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary.hover {
  background-color: #367fa9;
}


/*
   All form elements including input, select, textarea etc.
-----------------------------------------------------------------
*/
.form-control {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  box-shadow: none;
}
.form-control:focus {
  border-color: #3c8dbc !important;
  box-shadow: none;
}
.form-group.has-success label {
  color: #00a65a;
}
.form-group.has-success .form-control {
  border-color: #00a65a !important;
  box-shadow: none;
}
.form-group.has-warning label {
  color: #f39c12;
}
.form-group.has-warning .form-control {
  border-color: #f39c12 !important;
  box-shadow: none;
}
.form-group.has-error label {
  color: #f56954;
}
.form-group.has-error .form-control {
  border-color: #f56954 !important;
  box-shadow: none;
}
/* Input group */
.input-group .input-group-addon {
  border-radius: 0;
  background-color: #f4f4f4;
}
/* button groups */
.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type {
  border-radius: 0;
}
/* Checkbox and radio inputs */
.checkbox,
.radio {
  padding-left: 0;
}



/*
    Page: register and login
*/
.form-box {
  width: 360px;
  margin: 90px auto 0 auto;
}
.form-box .header {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #3d9970;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  color: #fff;
}
.form-box .body,
.form-box .footer {
  padding: 10px 20px;
  background: #fff;
  color: #444;
}
.form-box .body > .form-group,
.form-box .footer > .form-group {
  margin-top: 20px;
}
.form-box .body > .form-group > input,
.form-box .footer > .form-group > input {
  border: #fff;
}
.form-box .body > .btn,
.form-box .footer > .btn {
  margin-bottom: 10px;
}
.form-box .footer {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
@media (max-width: 767px) {
  .form-box {
    width: 90%;
    margin-top: 20px;
  }
}






/**
  Custom styles
**/

html,
body{
  height: 100%;
}
#wrapper{
  min-height:100%;
  position:relative;
}
#content {
  padding: 1px; /* Important for footer positioning! (Can be any value greater than 0) */
  padding-bottom: 40px;   /* Height of the footer element */
}
#footer {
  width:100%;
  height:40px;
  position:absolute;
  bottom:0;
  left:0;
  padding: 10px;
  color: #666;
}

// #login-box-contents {
//   width: 400px
// }
.login-message {
  text-align: center;
  font-weight: bold;
  color: #333;
  padding: 3px;
  margin-top: 10px;
}
.login-message.warning{
  color: #CC0000;
}
.welcome{
  color: #000;
  font-size: 1.2em;
  font-weight: normal;
  padding: 10px 5px;
  background: #fff;
  text-align: center;
  border-bottom: solid 3px #001F3F;
  text-shadow: 1px 1px 1px #ccc;
}

.for-signup, .for-keytrain, .for-cr101, .for-selfsignup {
  display: none;
}
form-box.signup .for-signup {
  display: block;
}
form-box.signup .for-signin {
  display: none;
}
body.site-keytrain .for-keytrain {
  display: block;
}
body.site-cr101 .for-cr101 {
  display: block;
}




.bg-kt-classic{
  color: #f9f9f9 !important;
  background-color: #0A5391 !important;
}
.bg-gray {
  background-color: #eaeaec !important;
}
.bg-navy {
  background-color: #001f3f !important;
}

body.site-cr101 {
  background-color: #409FF2 !important;
}



/* #goodbyeie8 */
.for-ltie9{
  display: none;
}
.ie6 .for-ltie9,
.ie7 .for-ltie9,
.ie8 .for-ltie9{
  display: block;
}

.special-userid {
  border-bottom-color: transparent;
}
.ie6 .special-userid,
.ie7 .special-userid,
.ie8 .special-userid{
  border-bottom-color: #CCCCCC;
}

.ie7 input{
  width: 90%;
}

.noie8message{
  display: none;
  background: pink;
  color: red;
  border-bottom: solid 1px red;
  padding-top: 10px;
  font-weight: normal;
  margin-bottom: 10px;
}
.ie6 .noie8message,
.ie7 .noie8message,
.ie8 .noie8message{
  display: block;
}
.for-ie8{
  display: none;
}
.ie8 .for-ie8{
  display: block;
}





/* Override AdminLTE color */
.form-group.has-error label{
  color: #CC0000;
}
.form-group.has-error .form-control{
  border-color: #CC0000;
}
.has-error .help-block {
  color: #CC0000;
}


/* Keep form-box high for longer signup forms */
body.signup .form-box {
  margin-top: 20px;
}

/* Reduce the space between form groups */
body.signup .form-box .body > .form-group, .form-box .footer > .form-group {
  margin-top: -7px !important;
}

.red {
  color: #dd5a43 !important;
  border-bottom: 1px solid #f3cdc6;
}

.lighter {
  font-weight: lighter;
}

.widget-box {
  width: 400px;
  visibility: hidden;
  position: fixed;
  -moz-transform: scale(0,1) translate(-150px);
  -webkit-transform: scale(0,1) translate(-150px);
  -o-transform: scale(0,1) translate(-150px);
  -ms-transform: scale(0,1) translate(-150px);
  transform: scale(0,1) translate(-150px);
}

.widget-box.visible {
  visibility: visible;
  -moz-transform: scale(1,1) translate(0);
  -webkit-transform: scale(1,1) translate(0);
  -o-transform: scale(1,1) translate(0);
  -ms-transform: scale(1,1) translate(0);
  transform: scale(1,1) translate(0);
  transition: transform .3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  -o-transition: -o-transform 0.2s ease;
}

.widget-box h4 {
  padding: 10px 0;
  margin: 0 10px;
}
