@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
	font-family: 'Open Sans', sans-serif;
}
#header {
	background-color: #2E3192;
	padding: 10px 0; 
}
.navbar {
	margin-bottom: 0px !important;
	min-height: 10px !important;
}
.dashobard-widget p {
	color: #231f20;
}
#upper-header li a:hover{
	/*font-weight: bold;*/
}
#profile-contener, .footer-hidden {
	display: none;
}

.dropdown-toggle-contener:hover .dropdown-menu {
    display: block !important;
    margin-top: 0; // remove the gap so it doesn't close
}
.dropdown-toggle:hover > ul {
	display: block !important;
}
#upper-header li a{
	background-color: transparent;
	cursor: pointer;
	padding-top: 2px;
	padding-bottom: 2px;
}
.dashobard-widget {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 3px #dadada;
	min-height: 120px;
}
.dashobard-widget h4{
	margin-top: 10px;
}
.show .dropdown-menu {
	display: block !important;
}
.mega-menu {
	width: 700px;
}
.mega-menu ul{
	padding-left: 0px;
}
.mega-menu ul li{
	font-size: 12px;
	padding: 5px 2px;
	text-transform: capitalize;
}
.mega-menu ul .font-size-smaller {
	font-weight: normal;
}
.font-size-smallest{ font-size: 10px; line-height: 16px;}
.font-size-smaller{ font-size: 12px; line-height: 18px;}
.font-size-small{ font-size: 13px; line-height: 21px;}
.font-size-base{ font-size: 14px; line-height: 24px;}
.font-size-big{ font-size: 16px; line-height: 26px;}
.font-size-large{ font-size: 18px; }
.font-size-larger{ font-size: 20px; line-height: 28px;}
.font-size-largest{ font-size: 24px; line-height: 30px;}
.font-size-huge{ font-size: 30px; line-height: 36px;}
.font-size-jumbo{ font-size: 36px; line-height: 42px;}
.font-size-giant{ font-size: 48px; line-height: 52px;}

.line-height-s10{ line-height: 19px; }
.line-height-s20{ line-height: 21px; }
.line-height-s30{ line-height: 26px; }
.line-height-s40{ line-height: 28px; }
.line-height-s50{ line-height: 30px; }
.line-height-s60{ line-height: 36px; }
.line-height-s70{ line-height: 42px; }
.line-height-s80{ line-height: 54px; }
.line-height-s90{ line-height: 72px; }

.brand-primary{ color: #2e3192;} 
.brand-secondary{ color: #0d9644;} 
.brand-third{ color: #f7941e;} 
.brand-fourth{ color: #01aaad;} 
.brand-fifth{ color: #ff651d;} 
.brand-sixth{ color: #8ec63f;} 
.gray-darker{ color: #231f20;} 
.gray-dark{ color: #59595b;} 
.gray{ color: #919196;} 
.gray-light{ color: #bdbec0;} 
.gray-lighter{ color: #e0e0e0;} 
.brand-success{ color: #8ec63f;} 
.brand-info{ color: #01aaad;} 
.brand-warning{ color: #f09a09;} 
.brand-danger{ color: #d9534f;} 
.brand-black{ color: #000000;} 
.brand-white{ color: #ffffff;} 

.brand-primary-bg{ background-color: #2e3192;}
.brand-secondary-bg{ background-color: #0d9644;}
.brand-third-bg{ background-color: #f7941e;}
.brand-fourth-bg{ background-color: #01aaad;}
.brand-fifth-bg{ background-color: #ff651d;}
.brand-sixth-bg{ background-color: #8ec63f;}
.gray-darker-bg{ background-color: #231f20;}
.gray-dark-bg{ background-color: #59595b;}
.gray-bg{ background-color: #919196;}
.gray-light-bg{ background-color: #bdbec0;}
.gray-lighter-bg{ background-color: #e0e0e0;}
.gray-lightest-bg{ background-color: #E7ECEF;}
.brand-success-bg{ background-color: #8ec63f;}
.brand-info-bg{ background-color: #01aaad;}
.brand-warning-bg{ background-color: #f09a09;}
.brand-danger-bg{ background-color: #d9534f;}
.brand-black-bg{ background-color: #000000;}
.brand-white-bg{ background-color: #ffffff;}
.brand-orange-bg{ background-color: #FDD4A6;}
.brand-orange-lite-bg{ background-color: #FEF4E8;}
.brand-cian-bg{ background-color: #99DDDE;}
.brand-cian-lite-bg{ background-color: #E4F6F6;}
.brand-footer1-bg{ background-color: #F9F8F3;}

.text-initial{text-transform: initial;}
.text-italic{font-style: italic;}
.no-gutters{ margin: 0; padding: 0;}
.no-margin{margin: 0;}
.no-margin-top{margin-top: 0;}
.no-margin-right{margin-right: 0;}
.no-margin-bottom{margin-bottom: 0;}
.no-margin-left{margin-left: 0;}
.no-padding{padding: 0;}
.no-padding-top{padding-top: 0;}
.no-padding-right{padding-right: 0;}
.no-padding-bottom{padding-bottom: 0;}
.no-padding-left{padding-left: 0;}

.gap-s10{ margin:5px; }
.gap-s20{ margin:10px; }
.gap-s30{ margin:15px; }
.gap-s40{ margin:20px; }
.gap-s50{ margin:30px; }
.gap-s60{ margin:40px; }
.gap-s70{ margin:50px; }
.gap-s80{ margin:60px; }
.gap-s90{ margin:70px; }
.gap-s100{ margin:80px; }

.br-3{ border-radius: 3px;}
.br-5{ border-radius: 5px;}
.br-6{ border-radius: 6px;}
.br-10{ border-radius: 10px;}
.br-20{ border-radius: 20px;}
.br-30{ border-radius: 30px;}
.br-40{ border-radius: 40px;}
.br-50{ border-radius: 50%;}

.logo, .thumbnail { width: 847px; height: 584px; }
.ad_banner{ width: 970px; height: 250px; }

.pad-lr-s10{ padding-left: 5px; padding-right: 5px; }
.pad-lr-s20{ padding-left: 10px; padding-right: 10px; }
.pad-lr-s30{ padding-left: 12px; padding-right: 12px; }
.pad-lr-s40{ padding-left: 15px; padding-right: 15px; }
.pad-lr-s50{ padding-left: 20px; padding-right: 20px; }
.pad-lr-s60{ padding-left: 25px; padding-right: 25px; }
.pad-lr-s70{ padding-left: 30px; padding-right: 30px; }
.pad-lr-s80{ padding-left: 40px; padding-right: 40px; }
.pad-lr-s90{ padding-left: 50px; padding-right: 50px; }
.pad-lr-s100{ padding-left: 60px; padding-right: 60px; }

.pad-tb-s10{ padding-top: 5px; padding-bottom: 5px; }
.pad-tb-s20{ padding-top: 10px; padding-bottom: 10px; }
.pad-tb-s30{ padding-top: 12px; padding-bottom: 12px; }
.pad-tb-s40{ padding-top: 15px; padding-bottom: 15px; }
.pad-tb-s50{ padding-top: 20px; padding-bottom: 20px; }
.pad-tb-s60{ padding-top: 25px; padding-bottom: 25px; }
.pad-tb-s70{ padding-top: 30px; padding-bottom: 30px; }
.pad-tb-s80{ padding-top: 40px; padding-bottom: 40px; }
.pad-tb-s90{ padding-top: 50px; padding-bottom: 50px; }
.pad-tb-s100{ padding-top: 60px; padding-bottom: 60px; }
.pad-tb-s300{ padding-top: 169px; padding-bottom: 169px; max-height: 488px; }

.pad-s10{ padding: 5px !important; }
.pad-s20{ padding: 10px; }
.pad-s30{ padding: 12px; }
.pad-s40{ padding: 15px; }
.pad-s50{ padding: 20px; }
.pad-s60{ padding: 25px; }
.pad-s70{ padding: 30px; }
.pad-s80{ padding: 40px; }
.pad-s90{ padding: 50px; }
.pad-s100{ padding: 60px; }

.p-none{ padding-bottom: 0 !important; }
.p-small-gap{ padding-bottom: 5px; } 
.p-medium-gap{ padding-bottom: 10px; } 
.p-large-gap{ padding-bottom: 15px; } 

.m-none { margin-bottom: 0;} 
.m-small-gap{ margin-bottom: 5px; } 

.font-light{ font-weight: 300; }
.font-light-italic{ font-weight: 300; }
.font-regular{ font-weight: 400; }
.font-medium{ font-weight: 600; }
.font-bold{ font-weight: 700; }

h6{ font-size: 16px; }
h5{ font-size: 18px; }
h4{ font-size: 20px; }
h3{ font-size: 26px; }
h2{ font-size: 30px; }
h1{ font-size: 38px; }

.text-underline {
	text-decoration: underline;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.bg-arrow {
	background-image: url('../images/arrow-right.png');
	background-position: 168px 50px;
	background-repeat: no-repeat;
}
.brand-orange-bg {
	background-image: url('../images/notch-left.png');
	background-position: center right;
	background-repeat: no-repeat;
}
.brand-cian-bg {
	background-image: url('../images/notch-right.png');
	background-position: center left;
	background-repeat: no-repeat;
}
.blue-sep {
	height: 2px;
}
.event {
	background: rgba(24,170,183, 0.5) none repeat scroll 0 0;
    position: absolute;
}
.news {
	background: rgba(232,100,41, 0.5) none repeat scroll 0 0;
    position: absolute;
}
ul, li {
	list-style: none;
}

.float-right {
	float: right;
}
.right-border {
	border-right: 1px solid #ccc;
}
.banner img {
	max-width: 90%;
}
@media only screen and (max-width: 500px) {
    .nav {
		width: 100%;
	}
    .nav li {
		text-align: center;
		width: 100%;
	}
	.text-fluid {
		text-align: center;
		width: 100%;
	}
	.col-md-4, .mobile-image {
		padding-bottom: 15px;
		padding-top: 15px;
	}
}